# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Database
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Secret keys
*.env

# Logs
*.log

# Local development settings
local_settings.py

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Compiled files
*.pyc
*.class

# Dependency directories
node_modules/
bower_components/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~
