{% load static %}
<!-- All PLUGINS CSS ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">
	
<!-- TYPOGRAPHY ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">

<!-- SHORTCODES ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">

<!-- STYLESHEETS ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">

<!-- REVOLUTION SLIDER CSS ============================================= -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/navigation.css' %}">
<!-- REVOLUTION SLIDER END -->	